<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Dashboard</title>
    <link rel="stylesheet" href="../stylesheets/styles2.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>

<body>

    <div class="container">
        <div class="tab-container">
            <button onclick="window.location.href='acceuil.html'">Acceuil</button>
            <button onclick="window.location.href='historique.html'">Historique</button>
            <button onclick="window.location.href='carte.html'">Carte</button>
        </div>

            <div class="widget-container">
                <div id="weather-widget blur">
                    <h2>Météo</h2>
                    <div class="widget-box">
                        <p class="temperature">25°C</p>
                        <p class="humidity">60%</p>
                    </div>
                </div>
            </div>
        </div>

            

        <div id="chart-container" class="tab-content" style="display:none;">
            <button id="shareButton" onclick="shareData()">Partager les données</button>
        </div>
    </div>

    <script src="../javascript/script_index.js"></script>

</body>

</html>