<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Dashboard</title>
    <link rel="stylesheet" href="../stylesheets/styles2.css">
</head>

<body>

    <div class="container">
        <div class="tab-container">
            <button onclick="window.location.href='./'">Acceuil</button>
            <button onclick="window.location.href='historique.html'">Historique</button>
            <button onclick="window.location.href='carte.html'">Carte</button>
        </div>

        <div class="widget-container">
            <div id="weather-widget blur">
                <h2>Météo</h2>
                <div class="widget-box">
                    <p id="tempValue" class="temperature">0</p>°C
                    <p id="humidityValue" class="humidity">0</p>% d'humidité
                </div>
            </div>
        </div>
    </div>

    <script src="../javascript/script_acceuil.js"></script>

</body>

</html>