<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Dashboard</title>
    <link rel="stylesheet" href="../stylesheets/styles2.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="tab-container">
            <button onclick="window.location.href='./'">Acceuil</button>
            <button onclick="window.location.href='historique.html'">Historique</button>
            <button onclick="window.location.href='carte.html'">Carte</button>
        </div>
        <div id="historique-chart">
            <canvas id="historiqueCanvas"></canvas>
        </div>
        <script src="../javascript/script_historique.js"></script>
        <button id="generateButton" onclick="generateData()">Générer des données</button>
        <button id="shareButton" onclick="shareData()">Partager les données</button>
    </div>
</body>

</html>