<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>http get test</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h2>http get query (fetch) test</h2>

    <!-- Dropdown menu for fetch type -->
    <label for="fetch">Select fetch:</label>
    <select id="fetch">
        <option value="fetch_all">all values</option>
        <option value="fetch_last">last value</option>
    </select>


    <script>
        function sendRequest(){
            const xhr = new XMLHttpRequest();
            
            var fetch = document.getElementById("fetch").value;

            if (fetch == "fetch_all") {
                xhr.open("GET", "http://127.0.0.1:5000/api/fetch_all");
                xhr.send();
                xhr.responseType = "json";
                xhr.onload = () => {
                    if (xhr.readyState == 4 && xhr.status == 200) { // if request is successful
                        const data = xhr.response; // get response

                        console.log(data); // use data
                    } else {
                        console.log(`Error: ${xhr.status}`); // or display error
                    }
                };

            } else if (fetch == "fetch_last") {
                xhr.open("GET", "http://127.0.0.1:5000/api/fetch_last");
                xhr.send();
                xhr.responseType = "json";
                xhr.onload = () => {
                    if (xhr.readyState == 4 && xhr.status == 200) { // if request is successful
                        const data = xhr.response;

                        console.log(data); // use data
                    } else {
                        console.log(`Error: ${xhr.status}`); // display error
                    }
                };

            } else {
                console.log('Invalid "fetch" value')
            }
        }
    </script>


    <button onclick="sendRequest()">Send</button>



</body>

</html>
